.toolbar .toolbar-tab.admin-toolbar-tasks-tab {
  float: right;
  background: inherit;
}

.toolbar .toolbar-tab.admin-toolbar-tasks-tab .toolbar-item {
  position: relative;
  display: flex;
  padding: 0;
  background: inherit;
}

.toolbar .toolbar-tab.admin-toolbar-tasks-tab .toolbar-item:focus,
.toolbar .toolbar-tab.admin-toolbar-tasks-tab .toolbar-item:hover {
  text-decoration: none;
  background: inherit;
}

.toolbar .admin-toolbar-tasks__toggle {
  right: 0;
  order: 1;
  height: auto;
  padding: 1em;
  font: inherit;
}

.toolbar .admin-toolbar-tasks__toggle:focus,
.toolbar .admin-toolbar-tasks__toggle:hover {
  background: rgba(255, 255, 255, 0.125);
}

.toolbar .admin-toolbar-tasks__toggle-state {
  display: none;
}

.toolbar
  .admin-toolbar-tasks__toggle-state:checked
  ~ .admin-toolbar-tasks__toggle {
  background: rgba(255, 255, 255, 0.125);
}

.toolbar .admin-toolbar-tasks__toggle-state:checked ~ label::after {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}

.toolbar .admin-toolbar-tasks__menu {
  overflow: hidden;
  height: 39px;
  margin: 0;
  padding: 0;
  background: inherit;
}

.toolbar .admin-toolbar-tasks__menu::before {
  display: block;
  float: left;
  height: 100%;
  content: "";
}

/** @stylelint disable */
.toolbar
  .admin-toolbar-tasks__toggle-state:checked
  ~ .admin-toolbar-tasks__menu {
  overflow: visible;
}
/** @stylelint enable */

.toolbar .admin-toolbar-tasks__menu-item {
  position: relative;
  z-index: 100000;
  right: -39px;
  float: right;
  clear: both;
  width: 15em;
  margin-left: -15em;
  background: inherit;
}

.toolbar .admin-toolbar-tasks__menu-item a {
  display: block;
  overflow: hidden;
  padding: 1em 1.3333em;
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
  color: inherit;
  background: rgba(255, 255, 255, 0.125);
}

.toolbar .admin-toolbar-tasks__menu-item a:focus,
.toolbar .admin-toolbar-tasks__menu-item a:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
}

@media (min-width: 61em) {
  .toolbar .admin-toolbar-tasks__menu-item:first-child {
    right: 0;
    float: left;
    clear: none;
    width: auto;
    margin-left: 0;
    background: transparent;
  }

  .toolbar .admin-toolbar-tasks__menu-item:first-child a {
    background: rgba(0, 0, 0, 0);
  }

  .toolbar .admin-toolbar-tasks__menu-item:first-child a:focus,
  .toolbar .admin-toolbar-tasks__menu-item:first-child a:hover {
    background: linear-gradient(
      rgba(255, 255, 255, 0.125) 20%,
      transparent 200%
    );
  }
}
