{% set bem_block = 'admin-toolbar-tasks' %}
{% if links -%}
  {% if links|length > 1 %}
    <input class="{{ bem_block }}__toggle-state" type="checkbox" id="{{ bem_block }}" hidden>
    <label class="{{ bem_block }}__toggle" for="{{ bem_block }}">⋮</label>
  {% endif %}
  <ul{{ attributes.addClass(bem_block ~ '__menu') }}>
    {%- for item in links -%}
      <li{{ item.attributes.addClass(bem_block ~ '__menu-item') }}>
        {%- if item.link -%}
          {{ item.link }}
        {%- else -%}
          <span{{ item.text_attributes }}>{{ item.text }}</span>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
{%- endif %}
